body
{
  margin: 0;
  overflow-x: hidden;
  font-family: Gill Sans, courier new, courier, monospace;
  text-align: left;
  margin: 0;
  padding: 0;
}

/*
Min-Width: Refers to everything greater than or equal to the amount given. 
Max-Width: Refers to everything less than or equal to the amount given.
*/

@media (min-width: 1440px){
  .container{
    width:1440px;
    max-width:1440px;
  }
}

@media (min-width: 1200px) {
  .docs-collapse {
    display: block;
  }
  .col-md-2 {
    width: 10.0%;
  }
}

@media (max-width: 640px) {
  .col-xs-3 {
    width: 100.0%;
  }
}

/* Content */

.docs-pictures {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Thumb display */

.docs-galley{
  padding-left: 30px;
}

.docs-pictures > li {
  float: left;
  margin: 10px 10px 10px 10px;
  position: relative;
  border: 0px solid transparent;
  overflow: hidden;
}
.docs-pictures > p {
  display: inline !important; 
  float: left; !important"
}

.docs-pictures > li > img {
  /*width: 100%; */
  cursor: -webkit-pointer;
  cursor: pointer;
}

#site-title {
  text-align: center;
  color: #000000;
  font-size: 120px;
  padding-bottom: 4px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid transparent; 
  margin-left: -1px;
}

#site-title:hover {
  text-decoration: none;
}

ul.nav-tabs {
    text-align: left;
    border-bottom: none;
}

#sidebar{
    display: inline;
    text-align: left;
}

#frontimage{
  position: relative;
  text-align: center;

  display: block;
  margin: 0 auto;
}

}#workyear{
  padding-left: 20px;
}

#workblock{
    display: block;
    float: left;
    width: 100%;
    margin: 0px 0px 30px 0px;
}#workblock table{
    display:inline;
    float: left;
    margin: 0px 0px -30px 0px;
}

a,a:link
{
  color: #000000;
}

a:hover
{
  color: #000000;
  text-decoration: underlined;
}

.small
{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.medium
{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.title
{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.author
{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.affiliation
{
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.rightlink
{
  font-size: 13px;
}

.works{
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  line-height: 25px;
}

.biohover a:hover{   
     background: #B12024;
     color: #BEC8A5;
}.workshover a:hover{   
     background: #3AB596;
     color: #8A181B;
}.presshover a:hover{   
     background: #D2B12A;
     color: #100C0D;
}.newshover a:hover{
     background: #EC1A64;
     color: #98C5AA;
}

.browserupgrade {
  margin: 0;
  padding: .5em 1em;
  background-color: #fcfcfc;
  text-align: center;
}

/* PRINTS */

.print-list-year {
  padding-left: 30px;
  margin: 45px 0 20px 0;
  font-size: 24px;
}

.print-list-year:first-child {
  margin: 0px 0 20px 0;
 }


.print-list {
  margin: 0 14px 14px 0;
  line-height: 0;
  border:1px solid #ddd;
  display: inline-block;
}

.print-list-thumbs {
  margin-bottom: 30px;
}

/* Header */

.docs-header {
  margin-bottom: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  border-color: #000000;
}

.navbar-toggle .icon-bar {
  background-color: #000000;
}


/* Jumbotron */

.jumbotron
{
  background-repeat: no-repeat;
  height: 441px;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group {
  margin-bottom: 10px;
}

.docs-buttons > .btn-group,
.docs-buttons > .input-group {
  width: 100%;
  margin-bottom: 5px;
}

.docs-buttons .input-group-btn {
  width: 50%;
}

.docs-buttons .input-group-btn .btn {
  width: 100%;
}


/* Footer */

.docs-footer {
  overflow: hidden;
}
#footer {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  text-align: center;

  display: block;
  margin: 0 auto;
}
#footer-c {
  position:absolute;
  bottom:0;

}

.heart {

  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ddd;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.heart:hover {
  color: #ff4136;
}

.heart:before {
  position: bottom;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  height: 0;
  content: " ";
}

.heart:after {
  position: bottom;
  z-index: 1;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  content: "♥";
}
